{% extends "layout.twig" %}

{% block content %}
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Prueba</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/clientes">Clientes</a></li>
                    <li><a href="/usuarios">Usuarios</a></li>
                    <li><a href="/exit">Salir</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">User</li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="row">

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Lista de Clientes</div>

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Ciudad</th>
                        <th>Op</th>
                    </tr>
                </thead>
                <tbody>
                    {%if listaClientes %}
                        {%for clientes in listaClientes %}
                            <tr>
                                <td class="text-center">
                                    <span data="{{clientes.cod}}">{{clientes.cod}}</span>
                                </td>
                                <td>{{clientes.name}}</td>
                                <td>{{clientes.city}}</td>
                                <td>
                                    <a class="btn btn-link" href="/clientes/form/{{clientes.cod}}">Editar</a>
                                    <a class="btn btn-link" href="/clientes/del/{{clientes.cod}}">Eliminar</a>
                                </td>
                            </tr>
                        {%endfor%}
                    {%endif%}
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}